* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  font-family: Geneva, Verdana, sans-serif;
}

body {
  display: grid;
  height: 100vh;
  place-items: center;
  background: linear-gradient(to right, #00b4db, #0083b0);
}

.container {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  background-color: aquamarine;
  padding: 20px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

#btn {
  background-color: lightgreen;
  border: none;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  cursor: pointer;
  color: black;
}

#btn:hover {
  scale: 1.05;
}

.size {
  background-color: black;
  color: white;
  height: 40px;
  border: none;
  padding: 0 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.answer {
  color: white;
}
